@use 'styles/colors';

#Main {
    display: block;
    width: 100%;

    #Header {
        background: colors.$black;
        box-shadow: colors.$white 0 -1px 8px;
        user-select: none;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 7.5%;
        height: 5vh;
        min-height: 60px;
        //width: 100vw;
        #Left {
            display: inline-flex;
            font-size: 1.7em;
            font-weight: 600;
        }
        #Right {
            display: inline-flex;
            flex-direction: row;
            gap: 1rem;
            .Link {
                display: block;
                text-decoration: none;
                color: colors.$white;
                cursor: pointer;
            }
            .Link:hover {
                color: colors.$white-slightly-darken;
            }
            .Link[active] {
                color: colors.$white-darken;
            }
        }
    }

    #Content {
        padding: 1rem 10vw 5rem 10vw;
        max-height: 100vh;
    }
}